<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" class="cursor-scroll">
  <form [formGroup]="dialogSpecifyItem" [ngClass]="{ 'submited-form': idSubmitedForm }">
    <mat-dialog-content>
      <mat-form-field>
        <div class="header-dialog topic" cdkDragHandle>
          <label class="text-black"> ข้อความเพิ่มเติม </label>
          <button type="button" class="close" (click)="onNoClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="content-dialog">
          <div class="row">
            <div class="col-12 col-md-3">
              <label class="text-underline-blue"> ประเภทข้อความ </label>
            </div>
            <div class="col-12 col-md-7">
              <select class="form-control" formControlName="typeText">
                <option *ngFor="let item of constant.LIST_TYPE_ITEM_TEXT" [ngValue]="item.id">{{ item.name }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-3">
              <label class="text-underline-red"> ข้อความเพิ่มเติม </label>
            </div>
            <div class="col-12 col-md-7">
              <textarea rows="4" cols="50" class="form-control" formControlName="additionalText"> </textarea>
            </div>
          </div>
          <div class="row my-2">
            <button type="button" class="btn-primary" (click)="keepOrder(dialogSpecifyItem.value)">บันทึก</button>
            <button [disabled]="isBtnDelete" class="btn-danger" type="button" (click)="deleteOrder()">ลบ</button>
          </div>
          <div class="overflow-y max-h-400" *ngIf="listDocument.length > 0 && listDocument != null">
            <table class="table-normal" >
              <tr>
                <th>เลือก</th>
                <th class="sort">ลำดับที่</th>
                <th class="sort">ประเภทข้อความ</th>
                <th class="sort">ข้อความเพิ่มเติม</th>
              </tr>
              <tr *ngFor="let document of listDocument ; let i = index" [ngClass]="{ selected: selectListOrder === i + 1 }">
                <td align="center">
                  <img src="assets/images/icon/record.gif" type="image" (click)="selectDocument(document,i)" />
                </td>
                <td>{{ ((p - 1) * constant.PER_PAGINATION) + (i + 1) }}</td>
                <td>{{ document.typeText}}</td>
                <td>{{ document.additionalText }}</td>
              </tr>
            </table>
          </div>
          <ul style="color:red">
            <li *ngFor="let c of listValidate">{{ c }}</li>
          </ul>
        </div>
      </mat-form-field>
    </mat-dialog-content>
  </form>
  <div class="modal-footer" mat-dialog-actions>
    <button class="btn-success" (click)="onClickSave()">ตกลง</button>
    <button (click)="onNoClick()">กลับ</button>
  </div>
</div>
<app-loading class="backdrop-loading" [isLoading]="isLoading"></app-loading>