<div class="content-menu-top">
  <app-head-content></app-head-content>
  <div class="list-menu-manage">
    <a routerLink="/ns022a/ns0221a" routerLinkActive="active"> {{ constant.BUTTON.create }} </a>
    <div class="divine-horizontal"></div>
    <a routerLink="/ns022a/ns0223a" routerLinkActive="active"> {{ constant.BUTTON.back_list }} </a>
    <div class="divine-horizontal"></div>
    <a routerLink="/ns022a/ns0222a" routerLinkActive="active"> {{ constant.BUTTON.search }} </a>
  </div>
  <div class="topic">
    <h4> {{ topic }} </h4>
    <span> {{ description }} </span>
  </div>
</div>
<router-outlet></router-outlet>