<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" class="cursor-scroll">
  <mat-dialog-content>
    <mat-form-field>
      <div class="header-dialog topic" cdkDragHandle>
        <label class="text-black"> export XML </label>
        <button type="button" class="close" (click)="onNoClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="content-dialog overflow-y max-h-400">
        <textarea class="form-control w-100 xml-form" readonly="readonly">
          {{ data.xml_text }}
        </textarea>
      </div>
    </mat-form-field>
  </mat-dialog-content>
  <div class="modal-footer" mat-dialog-actions>
    <!-- <button (click)="copyToClipBoard()">copy to clipboard</button> -->
    <button (click)="onNoClick()">ปิด</button>
  </div>
</div>
<app-loading class="backdrop-loading" [isLoading]="isLoading"></app-loading>
