<div class="content-box">
  <div class="content-detail">
    <div class="content-border">
      <span class="topic-header"> <strong> ค้นหา </strong> </span>
      <form [formGroup]="ns032FormSearch">
        <mat-tab-group class="row-border mat-tap-style-2">
          <mat-tab label="ค้นหาตามเลขที่เอกสาร">
            <div class="row">
              <div class="col-12 col-md-2">
                <label class="text-underline-blue"> ใบขอเบิกเงินจากระบบ </label>
              </div>
              <div class="col-12 col-md-4">
                <div class="d-flex radio-inline">
                  <input type="radio" formControlName="withdrawalRequestType" value="web" name="withdrawalRequestType"
                    id="web_online" />
                  <span for="web_online"> Web Online </span>
                  <input type="radio" formControlName="withdrawalRequestType" value="excel" name="withdrawalRequestType"
                    id="excel" />
                  <span for="excel"> Excel Loader / Terminal </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-2">
                <label class="text-underline-red"> เลขที่ใบขอเบิกเงิน </label>
              </div>
              <div class="col-12 col-md-4">
                <input type="text" formControlName="docNoFrom" class="form-control" maxlength="10" />
              </div>
              <div class="col-12 col-md-1">
                <label class="text-dark-grey"> ถึง </label>
              </div>
              <div class="col-12 col-md-4">
                <input type="text" formControlName="docNoTo" class="form-control" maxlength="10" />
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-2">
                <label class="text-underline-red"> ปีงบประมาณ </label>
              </div>
              <div class="col-12 col-md-4">
                <select class="form-control" formControlName="yearBudget">
                  <option *ngFor="let item of constant.LIST_YEAR" [ngValue]="item.id">{{ item.name }}</option>
                </select>
              </div>
            </div>
            <div class="row row-fix">
              <span> หมายเหตุ: ใบสั่งซื้อของระบบ Excel Loader / Terminal ค้นหาได้ตามเลขที่เอกสารเท่านั้น </span>
            </div>
            <ul style="color:red">
              <li *ngFor="let c of listValidate">{{ c }}</li>
            </ul>
            <div class="row mx-auto border-t-black">
              <div class="mx-auto">
                <button type="button" class="btn-success" (click)="onSearch('normal')">ค้นหา</button>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="ค้นหาตามเงื่อนไขอื่น">
            <div class="row">
              <div class="col-12 col-md-2">
                <select class="form-control select-searchType" formControlName="searchType">
                  <option *ngFor="let item of constant.LIST_TYPE_SEARCH_CONDITION" [ngValue]="item.id">{{ item.name }}
                  </option>
                </select>
              </div>
              <div class="col-12 col-md-4">
                <mat-form-field class="d-flex">
                  <input formControlName="conditionFrom" readonly matInput class="form-control date-mat-input"
                    [matDatepicker]="search_start_data">
                  <mat-datepicker-toggle matSuffix [for]="search_start_data"></mat-datepicker-toggle>
                  <mat-datepicker #search_start_data></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-12 col-md-1">
                <label class="text-dark-grey"> ถึง </label>
              </div>
              <div class="col-12 col-md-4">
                <mat-form-field class="d-flex">
                  <input formControlName="conditionTo" readonly matInput class="form-control date-mat-input"
                    [matDatepicker]="search_end_data">
                  <mat-datepicker-toggle matSuffix [for]="search_end_data"></mat-datepicker-toggle>
                  <mat-datepicker #search_end_data></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-2">
                <label class="text-underline-green"> การอ้างอิง </label>
              </div>
              <div class="col-12 col-md-4">
                <input type="text" formControlName="refDocNoFrom" class="form-control" maxlength="10" />
              </div>
              <div class="col-12 col-md-1">
                <label class="text-dark-grey"> ถึง </label>
              </div>
              <div class="col-12 col-md-4">
                <input type="text" formControlName="refDocNoTo" class="form-control" maxlength="10" />
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-2">
                <label class="text-underline-green"> ประเภทการจัดเก็บรายได้ </label>
              </div>
              <div class="col-12 col-md-4">
                <select class="form-control" formControlName="docTypeFrom">

                  <option *ngFor="let item of constant.LIST_TYPE_SEARCH_RECEIVE_MONEY_NS03" [ngValue]="item.id">{{
                    item.name }}
                  </option>
                </select> </div>
              <div class="col-12 col-md-1">
                <label class="text-dark-grey"> ถึง </label>
              </div>
              <div class="col-12 col-md-4">
                <select class="form-control" formControlName="docTypeFrom">
                  <option *ngFor="let item of constant.LIST_TYPE_SEARCH_RECEIVE_MONEY_NS03" [ngValue]="item.id">{{
                    item.name }}
                  </option>
                </select> </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-2">
                <label class="text-underline-green"> รหัสศูนย์ต้นทุนผู้จัดเก็บ </label>
              </div>
              <div class="col-12 col-md-4">
                <input type="text" formControlName="centerCodeFrom" class="form-control" maxlength="10" />
              </div>
              <div class="col-12 col-md-1">
                <label class="text-dark-grey"> ถึง </label>
              </div>
              <div class="col-12 col-md-4">
                <input type="text" formControlName="centerCodeTo" class="form-control" maxlength="10" />
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-2">
                <label class="text-underline-green"> รหัสศูนย์ต้นทุนเจ้าของรายได้ </label>
              </div>
              <div class="col-12 col-md-4">
                <input type="text" formControlName="ownCenterCodeFrom" class="form-control" maxlength="10" />
              </div>
              <div class="col-12 col-md-1">
                <label class="text-dark-grey"> ถึง </label>
              </div>
              <div class="col-12 col-md-4">
                <input type="text" formControlName="ownCenterCodeTo" class="form-control" maxlength="10" />
              </div>
            </div>


            <div class="row mx-auto border-t-black mt-5">
              <div class="mx-auto">
                <button type="button" class="btn-success" (click)="onSearch('condition')">ค้นหา</button>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>

        <ul style="color:red">
          <li *ngFor="let c of listMessageResponse">{{ c }}</li>
        </ul>
      </form>
      <table class="table-normal text-center" *ngIf="listDocument.length > 0 && listDocument != null">
        <tr>
          <th>เลือก</th>
          <th class="sort">เลขที่ใบบันทึกรายการบัญชี</th>
          <th class="sort">ปีงบประมาณ</th>
          <th class="sort">วันที่เอกสาร</th>
          <th class="sort">วันที่ผ่านรายการ</th>
          <th class="sort">ประเภทเอกสาร</th>
          <th class="sort">วันที่บันทึก</th>
          <th class="sort">จำนวนเงิน</th>
          <th class="sort">สถานะ</th>
          <th class="sort">เลขที่เอกสารกลับรายการ</th>
        </tr>
        <tr *ngFor="let document of listDocument| paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <td>
            <img src="assets/images/icon/record.gif" class="icon pointer" (click)="selectDocument(document, i)">
          </td>
          <td>{{ document.accDocNo }}</td>
          <td>{{ document.fiscYear }}</td>
          <td>{{ document.dateDoc }}</td>
          <td>{{ document.datePost }}</td>
          <td>{{ document.docType }}</td>
          <td>{{ document.saveDateDoc }}</td>
          <td>{{ document.amount }}</td>
          <td>{{ (document.docStatus === 'CO') ? 'เอกสารผ่านรายการ' : 'เอกสารถูกกลับรายการ' }}</td>
          <td>{{ document.revAccDocNo }}</td>
        </tr>
      </table>
      <pagination-controls (pageChange)="p = $event" *ngIf="listDocument.length > 0 && listDocument != null"></pagination-controls>

    </div>
  </div>
</div>
<app-loading class="backdrop-loading" [isLoading]="isLoading"></app-loading>