@import "variables.scss";

mat-dialog-content {
  .form-search {
    padding: 10px 15px;
    // background-color: $header-modal-color;
    display: flex;
    align-items: center;
    input {
      flex: 2;
    }
    button {
      flex: 1;
    }
    label {
      text-align: right;
      flex: 1;
      padding-right: 10px;
      font-size: 12px;
    }
    img {
      width: 15px;
      height: 15px;
    }
  }
  .form-result {
    color: black;
    padding: 2px;
    span.chooseDataSearch {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

app-dialog-search {
  .topic {
    text-align: center;
    label {
      font-size: 20px;
    }
  }
  table {
    text-align: center;
  }
}