@import "../variables.scss";
@import "_reset.scss";
@import "_font.scss";
@import "_table.scss";
@import "_icon.scss";
@import "_typography.scss";
@import "_global.scss";
@import "all.scss";

/* input */
.input-group {
  // height: 100%;
  select {
    flex: 1;
  }
  input {
    flex: 1;
  }
  .input-group-append {
    button {
      padding: 0px 8px !important;
      height: 25px;
      img {
        display: flex;
      }
    }
    &.button-group-search  {
      button {
        background: transparent;
        &:hover {
          background: #D6EAF8;
        }
      }
    }
  }
  input:disabled {
    border-bottom-right-radius: .25rem !important;
    border-top-right-radius: .25rem !important;
  }
  input:disabled + .input-group-append {
    display: none;
  }
}
form {
  &.submited-form {
    input {
      &.ng-invalid {
        border: 1px solid red;
      }
      &.ng-valid {
        border: 1px solid initial;
      }
    }
    input.ng-valid ~ .alert {
      display: none;
    }
    .alert {
      display: block;
      width: 100%;
    }
  }
  &:not(.submited-form) {
    .alert {
      display: none;
    }
  }
}

/* button */
.col-button {
  margin: 10px 0px;
  width: 100%;
}

/* datepicker */
.mat-datepicker-toggle {
  color: black;
  position: relative;
  .mat-icon-button {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    margin: 0px !important;
    background: transparent !important;
    &:focus,&:hover,&:active {
      background: transparent;
    }
    span.mat-button-wrapper {
      display: flex;
      justify-content: flex-end;
      .mat-datepicker-toggle-default-icon {
        width: 15px;
      }
    }
    .mat-button-ripple-round {
      display: none;
    }
  }
}

/* modal */
mat-dialog-container {
  padding: 0px !important;
  color: white;
  .modal-footer {
    margin: 0 auto;
    justify-content: center !important;
  }
}
.cdk-global-scrollblock {
  top: 0px !important;
  position: static;
  overflow: hidden !important;
}

/* other */
.row {
  padding: 5px 0px;
}
.row-border {
  .row {
    border-bottom: 1px solid #F5F5F5;
    padding: 5px 0px;
  }
}

/* tab */
mat-tab-group {
  // border: 1px solid #CCD1D1; // change style tap group
  .mat-tab-labels {
    // background-color: #21618C; // change style tap group
    background-color: #AED6F1; // change style tap group
  }
  .mat-tab-label {
    color: black;
    height: auto;
    // padding: 4px 0px;
    padding: 10px 0px; // change style tap group
    // background-color: #C0C1D6;
    background-color: transparent; // change style tap group
    &.mat-tab-label-active {
      background-color: white;
      opacity: 1;
    }
  }
  .mat-tab-body {
    padding: 10px;
    .mat-tab-body-content {
      overflow-x: hidden;
    }
    &.mat-tab-body-active {
      height: 100%;
    }
  }
  .mat-tab-label-content {
    font-size: 12px;
  }
  &.mat-tap-style-2 {
    border: none;
    .mat-tab-labels {
      background: transparent;
    }
    .mat-tab-label {
      // background-color: #f0f0d0;
      background-color: #AED6F1; // change style tap group
      &.mat-tab-label-active {
        // background-color: #fdff9e;
        background-color:white;;
      }
    }
    
  }
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: red;
}
/* pagination */
pagination-controls {
  .ngx-pagination {
    margin-top: 10px;
  }
}

/* content */
.content-menu-top {
  position: relative;
  background-color: $color-menu-content;
  min-height: 108px;
  .list-menu-manage {
    display: flex;
    justify-content: flex-end;
    margin-right: 12px;
    position: absolute;
    top: 5px;
    right: 0px;
    a {
      text-decoration: none;
      color: black;
      padding: 0px 10px;
      font-family: 'SarabunRegular';
      font-size: 13px;
      &:hover {
        opacity: 0.8;
      }
    }
    a.active {
      color: red;
    }
  }
  .topic {
    position: absolute;
    bottom: 15px;
    left: 10px;
    h4 {
      line-height: 0.7;
      font-weight: bold;
      font-size: 19px;
      font-family: 'SarabunSemiBold';
    }
    span {
      font-size: 14px;
      font-family: 'SarabunLight';
    }
  }
}
.content-box {
  // height: 100%;
  padding: 10px;
  border: 1px solid $border-content;
  .content-detail {
    // width: 70%;
  }
}
.header-collapse {
  background-color: $bg-second;
  padding: 4px;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  img {
    margin-left: 5px;
    height: 60%;
    transform: rotate(180deg);
  }
  &.open img {
    transform: rotate(0deg);
  }
}
.collapse-detail {
  overflow-x: hidden;
  height: 0px;
  transition: height 0.5ms ease;
  &.show {
    transition: height 0.5ms ease;
    height: 100%;
  }
}
.content-border {
  border: 1px solid #85929E;
  position: relative;
  padding: 20px 10px;
  width: 100%;
  margin-top: 10px;
  span.topic-header {
    font-family: 'SarabunExtraBold';
    position: absolute;
    top: -11px;
    background: white;
    label {
      font-size: 13px;
    }
  }
}
.box-explain {
  color: #9799cc;
  font-size: 13px;
}
.select-searchType {
  color: #1b2db7 !important;
  text-decoration: underline;
}

/* dialog-result-save */
.mat-dialog-container {
  .header-dialog {
    padding: 10px 10px 0px 10px;
    border-bottom: 1px solid #E5E7E9;
    display: flex;
    align-items: baseline;
    position: relative;
    button.close {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0 !important;
    }
    &.dialog-result-save {
      margin-bottom: 15px;
    }
    label {
      font-size: 16px;
      font-weight: 900;
    }
  }
  .content-dialog {
    padding: 10px 10px 20px 10px;
    table {
      text-align: center;
      input[type="checkbox"] {
        width: auto;
      }
    }
  }
}

.tab-button {
  .button {
    display: inline-block;
    padding: 2px 30px !important;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
  }
  &.next {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    .button {
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #3A98E2;
        border-radius: 10rem;
        z-index: -2;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#3A98E2, 15%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
      }
    }
  }
  .arrow{
    cursor: pointer;
    position:relative;
    display:none;
    width: 25px;
    height: 25px;
    z-index: 1;
    transition: all .2s linear;
    &:before, &:after{
      content:"";
      position: absolute;
      width:35%;
      height: 10%;
      top:41%;
      left:55%;
      background: $color-button-next;
      z-index: 2;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: all .2s linear;
    }
    &:after{
      z-index: 3;
      top:59%;
      left:55%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:hover{
      &:after, &:before{
        background: white;
      }
    }
    &:active{
      border: solid 8px white;
      &:after, &:before{
        background: white;
      }
    }
  }
  &.prev {
    .arrow {
      &:before, &:after{
        left:35%;
      }
      &:after{
        transform: rotate(-140deg);
        top: 53%;
      }
      &:before{
        transform: rotate(-45deg);
        top: 33%;
      }
    }
    .button {
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #3A98E2;
        border-radius: 10rem;
        z-index: -2;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#3A98E2, 15%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
      }
    }
  }
  // .button {
  //   padding: 0px 5px !important;
  //   display: flex;
  //   align-items: center;
  //   position: relative;
  //   background: transparent;
  //   border: 1px solid $color-button-next;
  //   border-radius: 0px !important;
  //   color: white;
  //   transition: .2s;
  //   color: $color-button-next;
  //   &:hover {
  //     background: darken($color-button-next, 10%);
  //     color: white;
  //   }
  //   &:active,
  //   &:focus {
  //     background: darken($color-button-next, 30%);
  //     outline: none;
  //   }
  // }
}

.label-for-search {
  label {
    color: black !important;
  }
}

//
.bg-topic-1 {
  label {
    margin: 5px;
  }
}