.detail-user {
  background: white;
  // position: absolute;
  width: 100%;
  padding: 5px 10px;
  // border-bottom-right-radius: 5px;
  label {
    font-weight: bold;
    font-family: 'SarabunMedium';
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 0;
  }
  span {
    font-family: 'SarabunLight';
    color: #1F618D;
  }
}