$color-menu-content: #F9E79F;
$color-green: #00FF00;
$color-blue: #0000FF;

$bg-second: #F5F5F5;
$bg-third: #eeeef7;
$bg-menu-2: #4b4b71;
$bg-topic-1: #e8dff1;
$bg-yellow-light: #FFFFE1;
$bg-light-blue: #CEE3F6;

$color-button-next: #8398cb;

$border-content: #A0A3A5;

$header-modal-color: #4c6d95;
$tr-odd: #f2f2f2;

$font-blue: #1b2db7;
$font-green: #3b9314;
$font-red: #e31e1e;
$font-greenlight: #009966;

$size-menu: 240px;
$header-height: 140px;
$footer-height: 60px;




$break-large: 1200px;
$break-ipadpro: 1024.98px;
$break-big: 991.98px;
$break-ipad: 768.98px;
$break-small: 575.98px;